/*------Additional header styling------*/
h1 {
    letter-spacing: 8px;
}

main {
    padding-top: 10px;
}

/*------Additional button styling------*/
.btn {
    margin: 5px;
}

/*------Additional styling to pagination links------*/
.pagination a {
    border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*------Improve recipe instructions presentation------*/
#display {
    white-space: pre-line;
}