<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookBook</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="green lighten-3">
<!-- Page Header -->
    <div class="container">
        <header>
            <h1 class="center-align green-text text-darken-2">COOKBOOK</h1>
        </header>
    </div>
<!-- Main Page Content -->
    <main class="container green lighten-5">
        {% block content %}
        
        {% endblock %}
    </main>
<!-- Javascript required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $("select").material_select();
            var field = `<li class="input-field col s12 m6">
                            <input id="ingredient_name" name="ingredient_name" type="text" class="validate">
                            <label for="ingredient_name">Ingredient</label>
                        </li>
                        <li class="input-field col s12 m6">
                                <input id="quantity" name="quantity" type="text" class="validate">
                                <label for="quantity">Quantity & Type</label>
                        </li>`;
            $("#extra").click(function(){
                $("#ingredients").append(field);
            });
        });
    </script>
</body>
</html>