{% extends "base.html" %}
{% block content %}
<!-- Page to make changes to specfic recipe -->
<section class="container">
    <h3 class="center-align">Change This Recipe</h3>
    <div class="row">
        <form action="{{ url_for('update_recipe', recipe_id = recipe._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix deep-orange-text text-deep-orange">assignment</i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{ recipe.recipe_name }}">
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix purple-text text-purple">style</i>
                    <input id="style_name" name="style_name" type="text" class="validate" value="{{ recipe.style_name }}">
                    <label for="style_name">Style of Cuisine</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix yellow-text text-yellow">account_box</i>
                    <input id="author_name" name="author_name" type="text" class="validate" value="{{ recipe.author_name }}">
                    <label for="author_name">Author's Name</label>
                </div>
            </div>
            <div class="row">
                <fieldset>
                    <legend>List Of Ingredients</legend>
                    <i class="material-icons prefix">list</i>
                    <div class="input-field col s12">
                        <ul id="ingredients">
                            {% for ingredient in recipe.ingredients %}
                            <li class="input-field col s12 m6">
                                <input id="ingredient_name" name="ingredient_name" type="text"
                                    class="validate" value="{{ ingredient.ingredient_name }}">
                                <label for="ingredient_name">Ingredient</label>
                            </li>
                            <li class="input-field col s12 m6">
                                <input id="quantity" name="quantity" type="text" 
                                    class="validate" value="{{ ingredient.quantity }}">
                                <label for="quantity">Quantity & Type</label>
                            </li>
                            {% endfor %}
                        </ul>
                        <a class="btn-floating waves-effect waves-light green" id="extra">
                            <i class="material-icons">add</i></a>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea id="instructions" name="instructions" class="materialize-textarea">{{ recipe.instructions }}</textarea>
                    <label for="instructions">Cooking Instructions</label>
                </div>
            </div>
            <div class="row">
                <fieldset>
                    <legend>Any Allergens?</legend>
                    <i class="material-icons prefix red-text text-red">warning</i>
                    <div class="row col s12">
                        {% if recipe.allergens %}
                            <input name="allergens" id="allergens" type="checkbox" class="filled-in" checked>
                        {% else %}
                            <input name="allergens" id="allergens" type="checkbox" class="filled-in">
                        {% endif %}
                        <label for="allergens">Yes</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="allergen_name" name="allergen_name" type="text" value="{{ recipe.allergen_name }}">
                            <label for="allergen_name">Name</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row" style="display: none">
                <input id="views" name="views" type="number" class="validate" value="{{ recipe.views }}">
            </div>
            <div class="row center-align">
                <button class="waves-effect waves-light btn green accent-4 text-black black-text"
                    type="submit" name="action">Change This Recipe<i class="material-icons right">edit</i>
                </button>
                <a href="{{ url_for('results') }}" class="waves-effect waves-light btn red
                    text-black black-text"><i class="material-icons right">cancel</i>Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}