{% extends "base.html" %}
{% block content %}
<!-- Page to display specified individual recipes -->
<section class="container">
    <div class="row">
        <h3 class="center-align">{{ recipe.recipe_name.title() }}</h3>
    </div>
    <div class="row">
        <h4 class="center-align">{{ recipe.style_name.capitalize() }}</h4>
    </div>
    <div class="row">
        <h4 class="center-align">{{ recipe.author_name.title() }}</h4>
    </div>
    <div class="row">
        <ul class="center-align"><strong>Ingredients</strong>
            {% for ingredient in recipe.ingredients %}
            <li class="center-align">{{ ingredient.quantity + " " + ingredient.ingredient_name.capitalize() }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="center-align"><strong>Instructions</strong>
            <p id="display">{{ recipe.instructions }}</p>
        </div>
    </div>
    <div class="row">
        {% if recipe.allergens == True %}
            <p class="center-align">Contains {{ recipe.allergen_name }}</p>
        {% endif %}
    </div>
    <div class="row">
        <p class="center-align">This recipe has been previously viewed {{ recipe.views }} times</p>
    </div>
    <div class="row center-align">
        <a href="{{ url_for('results') }}" class="waves-effect waves-light btn teal accent-4
            text-black black-text"><i class="material-icons right">keyboard_return</i>Back To Results</a>
        <a href="{{ url_for('edit_recipe', recipe_id = recipe._id) }}" class="waves-effect waves-light btn green accent-4
            text-black black-text"><i class="material-icons right">edit</i>Change This Recipe</a>
        <a href="{{ url_for('delete_recipe', recipe_id = recipe._id) }}" class="waves-effect waves-light btn red accent-4
            text-black black-text"><i class="material-icons right">delete_forever</i>Delete This Recipe</a>
    </div>
</section>
{% endblock %}