<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookBook</title>
</head>
<body>
    <div class="container">
        <h1>COOKBOOK</h1>
        {% for recipe in recipes %}
            <h3>{{ recipe.recipe_name }}</h3>
            <h4>{{ recipe.style_name }}</h5>
            <h4>{{ recipe.author_name }}</h5>
            <ul><strong>Ingredients</strong>
                {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient.quantity + " " + ingredient.ingredient_name   }}</li>
                {% endfor %}
            </ul>
            <p><strong>Instructions</strong>
                {{ recipe.instructions }}
            </p>
            {% if recipe.allergens == True %}
                {% for allergen in recipe.allergen %}
                    <p>Contains {{ allergen.allergen_name }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    
</body>
</html>