<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookBook</title>
</head>
<body>
    <!-- Page to display individual recipes -->
    <div class="container">
        <h1>COOKBOOK</h1>
        <h3>{{ recipe.recipe_name.title() }}</h3>
        <h4>{{ recipe.style_name.capitalize() }}</h4>
        <h4>{{ recipe.author_name.title() }}</h4>
        <ul><strong>Ingredients</strong>
            {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient.quantity + " " + ingredient.ingredient_name.capitalize() }}</li>
            {% endfor %}
        </ul>
        <p><strong>Instructions</strong>
            {{ recipe.instructions }}
        </p>
        {% if recipe.allergens == True %}
            <p>Contains {{ recipe.allergen_name }}</p>
        {% endif %}
        <p>This recipe has been previously viewed {{ recipe.views }} times</p>
        <button>
            <a href="{{ url_for('results') }}" class="waves-effect waves-light">
            <i class="material-icons right">cancel</i>Back To Results</a>
        </button>
        <button>
            <a href="{{ url_for('edit_recipe', recipe_id = recipe._id) }}" class="waves-effect waves-light">
            <i class="material-icons right">cancel</i>Modify This Recipe</a>
        </button>
        <button>
            <a href="{{ url_for('delete_recipe', recipe_id = recipe._id) }}" class="waves-effect waves-light">
            <i class="material-icons right">cancel</i>Delete This Recipe</a>
        </button>
    </div>
</body>
</html>