{% extends "base.html" %}
{% block content %}
<!-- Page to search for a recipe with link to add a recipe -->
<section class="container">
    <div class="row">
        <h3 class="center-align">Welcome {{ session["username"] }}</h3>
        <h4 class="center-align">Use the dropdown menus to select categories to find your perfect recipe</h4>
    </div>
    <div class="row">
        <form action="{{ url_for('results') }}" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix purple-text text-purple">style</i>
                    <select name="style_name">
                        <option value="" disabled selected>Cuisine</option>
                        {% for s in cuisine.style %}
                            <option value="{{ s.style_name }}">{{ s.style_name.capitalize() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix yellow-text text-yellow">account_box</i>
                    <select name="author_name">
                        <option value="" disabled selected>Authors</option>
                        {% for a in authors.author %}
                            <option value="{{ a.author_name }}">{{ a.author_name.title() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">list</i>
                    <select multiple name="ingredient_name">
                        <option value="" disabled selected>Ingredients</option> 
                        {% for item in ingredients.ingredient %}
                            <option value="{{ item.ingredient_name }}">{{ item.ingredient_name.title() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix red-text text-red">warning</i>
                    <select name="allergen_name">
                        <option value="" disabled selected>Allergens</option>
                        {% for ail in allergens.allergen %}
                            <option value="{{ ail.allergen_name }}">{{ ail.allergen_name.capitalize() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row center-align">
                <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn green accent-4
                    text-black black-text"><i class="material-icons right">playlist_add</i>Add A Recipe</a>
                <button class="waves-effect waves-light btn teal accent-4 text-black black-text"
                    type="submit" name="action"><i class="material-icons right">search</i>Find A Recipe</button>
                <a href="{{ url_for('logout') }}" class="waves-effect waves-light btn red
                    text-black black-text"><i class="material-icons right">cancel</i>Sign Out</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}