<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookBook</title>
</head>
<body>
    <h3>Search Page</h3>
    <p>
        Welcome {{ session["username"] }}
    </p>
    <h3>Categories</h3>
    <form action="{{ url_for('results') }}" id="form1" method="POST">
        <ul class="collapsible">
            <div class="row">
                <h4>Cuisine</h4>
                {% for s in cuisine.style %}
                    <li>{{ s.style_name }}</li>
                {% endfor %}
            </div>
            <div class="row">
                <h4>Authors</h4>
                {% for a in authors.author %}
                    <li>{{ a.author_name }}</li>
                {% endfor %}
            </div>
            <div class="row">
                <h4>Ingredients</h4>
                {% for item in ingredients.ingredient %}
                    <li>{{ item.ingredient_name }}</li>
                {% endfor %}
            </div>
            <div class="row">
                <h4>Allergens</h4>
                {% for ail in allergens.allergen %}
                    <li>{{ ail.allergen_name }}</li>
                {% endfor %}
            </div>
        </ul>
    </form>
    <div class="row">
        <button>
            <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light">
            <i class="material-icons right">cancel</i>Add A Recipe</a>
        </button>
        <button class="waves-effect waves-light" type="submit" name="action" form="form1">
            <i class="material-icons right">cancel</i>Find A Recipe</a>
        </button>
        <button>
            <a href="{{ url_for('logout') }}" class="waves-effect waves-light">
            <i class="material-icons right">cancel</i>Sign Out</a>
        </button>
    </div>
</body>
</html>